.container{
   margin: 20px auto;
}
h1{
    font-size: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}
form{
    text-align: center;
}
input{
    border-color:black;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    padding:3px;
    text-align: left;
}
button{
    background-color: aqua;
    border-radius: 20px;
}
.table-section{
    margin-top:20px;
    padding:0px;
    border: 2px solid black;
}
.table-section, table{
    text-align: center;
}
th{
    padding:10px;
    height:20px;
    color:white;
    background-color: black;
}
td{
    height:30px;
    background-color: aqua;
}